.App {
  text-align: center;
}

.item-todo {
  position: relative;
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-text {
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial;
  cursor: pointer;
}

input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
}

button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.delete-task {
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  float: right;
  position: relative;
  top: -32px;
  right: -30px;
  padding-top: 4px;
}

.strike {
  text-decoration: line-through;
}